* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7DC8CA;
    text-transform: uppercase;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header header header"
        "randomColor randomColor randomColor randomColor randomColor randomColor"
        "randomColor randomColor randomColor randomColor randomColor randomColor"
        "color1 color1 color2 color2 color3 color3"
        "color1 color1 color2 color2 color3 color3";
}

.header {
    grid-area: header;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.header h1{
    font-size: 5em;
}

.header h2{
    font-size: 1.5em;
}

#hr{
    margin-top: 1vh;
    width: 100%;
    height: 2px;
    background-color: white;
}

.randomColor {
    grid-area: randomColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color1 {
    grid-area: color1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color2 {
    grid-area: color2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color3 {
    grid-area: color3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorContent {
    width: 50%;
    height: 50%;
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
}

#startButton {
    background-color: #669c9e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.randomColor {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gui{
text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 1.7em;
}

#gui button{
    margin-top: 2vh;
    font-family: 'Montserrat', sans-serif;
}